<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find My Booze</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./node_modules/adminlte/dist/css/AdminLTE.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./node_modules/font-awesome/scss/_icons.scss">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/ngGeolocation/ngGeolocation.min.js"></script>
  </head>
  <body>
    <app ng-app="angular-app">
      <h5><br/><br/>this message will disappear when <em>app</em> component is correctly rendered<br/><br/><br/></h5>
    </app>
    <script src="./client/components/app.js"></script>
    <script src="./client/components/lcboSearch.js"></script>
  </body>
</html>
